<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">

	<title>amo Go counter</title>

	<link rel=stylesheet type = "text/css" href="/static/css/styles.css">
	<script type="text/javascript" src="/static/js/jquery-2.1.0.min.js"></script>
	<script src="/static/js/scripts.js"></script>

</head>
<body>

<div class="header">
	<ul class="nav">
		<li class="nav_item"><a href="/">amo Go counter</a></li>

	</ul>
</div>

<div id="counterButtons" class="counter_buttons">
	<form>
		<input id="addOne" class="oneBotton" type="button" value="Добавить единицу"/>
		<button id="showCount" class="oneBotton" type="button" formmethod="get">Показать счетчик</button>
	</form>

</div>
<output id="currentCount"></output>

</body>
</html>


